{% extends 'base.html.twig' %}

{% block title %}Retroawards - Achievement{% endblock %}

{% block body %}
  <div class="container mt-4">
    <div class="row align-items-center mb-4">
      <div class="col-xl-2 col-md-6 my-2">
        <a href="#" class="float-md-right" title="Spiral Mountain (5)"><img class="img-fluid" src="https://s3-eu-west-1.amazonaws.com/i.retroachievements.org/Badge/52389.png" width="150" alt="Spiral Mountain (5)"/></a>
      </div>
      <div class="col-xl-3 col-md-6 my-2">
        <h1 class="h3 mb-3">Spiral Mountain (5)</h1>
        <p>Get all Honeycomb Pieces in Spiral Mountain.</p>
      </div>
      <div class="col-xl-3 col-md-6 my-2">
        <a href="#" class="float-md-right" title="Banjo-Kazooie"><img class="img-fluid" src="https://s3-eu-west-1.amazonaws.com/i.retroachievements.org/Images/015922.png" alt="Banjo-Kazooie"/></a>
      </div>
      <div class="col my-2">
        <div class="bg-image" style="background-image: url('https://s3-eu-west-1.amazonaws.com/i.retroachievements.org/Images/024311.png')">
          <h2 class="bg-layer border border-primary h4 font-weight-bold text-primary text-center py-1">
            <img class="img-fluid align-middle" src="{{ asset('build/img/consoles/nintendo_64/icon.png') }}" width="8%" alt="Nintendo 64"/>
            <span class="align-middle">Banjo-Kazooie</span>
          </h2>
        </div>
        <a href="#" title="Banjo-Kazooie"><img class="img-fluid" src="https://s3-eu-west-1.amazonaws.com/i.retroachievements.org/Images/011034.png" width="49%" alt="Banjo-Kazooie"/></a>
        <a href="#" title="Banjo-Kazooie"><img class="img-fluid" src="https://s3-eu-west-1.amazonaws.com/i.retroachievements.org/Images/011031.png" width="49%" alt="Banjo-Kazooie"/></a>
      </div>
    </div>
  </div>
{% endblock %}