// Bootswatch theme
// Your variable overrides go here, e.g.: $h1-font-size: 3rem;
@import "~bootswatch/dist/spacelab/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/spacelab/bootswatch";

.achievement-card {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-layer {
  background-color: rgba(255, 255, 255, 0.8);
}
a.cleanlink {
  text-decoration: none;
  color: inherit;
}