// Bootswatch theme
// Your variable overrides go here, e.g.: $h1-font-size: 3rem;
@import "~bootswatch/dist/spacelab/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/spacelab/bootswatch";

.bg-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &.card {
    border-color: grey !important;
  }
}
.bg-layer {
  background-color: rgba(255, 255, 255, 0.85);
}
.bg-layer-hover:hover {
  background-color: rgba(0, 0, 0, 0.9);
  text-shadow: 0 0 20px #afafaf;
  .card-text,
  .card-title {
    color: #afafaf;
  }
  .card-game-title {
    color: #5491cd !important;
  }
}
a.cleanlink {
  text-decoration: none;
  color: inherit;
}