<footer class="mt-5 bg-light py-4 text-center">
  <a href="{{ ra_domain }}" target="_blank" title="{{ ra_domain }}"><img src="{{ asset('build/img/ra_logo.png') }}" width="400" alt="{{ ra_domain }}"></a>
</footer>