<div class="card border-primary mb-3" style="max-width: 20rem;">
  <div class="card-header">Achievement game</div>
  <div class="card-body">
    <h4 class="card-title">Achievement title</h4>
    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu tellus neque. Ut ut elementum metus.</p>
  </div>
  <div class="card-footer">Earned by user</div>
</div>